.messagesDiv{
    height: 20%;
    width: 100%;
    background-color: #a5defd;
    padding: 1%;
}

.messagesUsers {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space:nowrap
}

.messagesLastMessages{
    font-size: 0.8em;
    padding: 0;
    margin: 0;
    align-self: flex-end;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space:nowrap
}